<!--
<rdf:RDF
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/"
  xmlns:dc="http://purl.org/dc/elements/1.1/">
<rdf:Description
  rdf:about=""
  trackback:ping="<%= @article.trackback_url %>"
  dc:title="<%=h @article.title.gsub(/-+/, '-') %>"
  dc:identifier="<%= @article.permalink_url %>"
  dc:description="<%=h (@article.html.strip_html[0..255]).gsub(/-+/, '-') %>"
  dc:creator="<%= h @article.author %>"
  dc:date="<%= @article.updated_at.xmlschema %>" />
</rdf:RDF>
-->

<%= render :partial => 'article', :object => @article %>

<div id="socialBox">
	<script>
		$(document).ready(function() {
			$("#whyLink").click(function() { $('#whyPara').show("slow"); });
		})
	</script>
	<p><b>Please vote this article up on social news sites!</b> <b><a id="whyLink">Why?</a></b></p>
	<p id="whyPara" style="display: none">I don't have adverts on this site, and I make no income from it. What I enjoy, however, is seeing my articles spread and read by many people. Voting me up on these social networking sites doesn't cost you a thing, and it makes me happy :-) Thanks. Simply click the links below.</p>
	<table border="0">
		<tr>
			<td valign="top">
				<script type="text/javascript">
				//digg_url = '<%= @article.permalink_url %>';
				digg_url = 'http://www.inter-sections.net/2008/05/28/awful-marketing-campaign';
				</script>
				<%= javascript_include_tag "social/digg" %>
			</td>
			<td valign="top">
				<script>reddit_url='http://www.inter-sections.net/2008/05/28/awful-marketing-campaign'</script>
				<script>reddit_title='Blah'</script>
				<%= javascript_include_tag "social/reddit" %>
			</td>
			<td valign="top">
				<a href="http://del.icio.us/post?url=<%= CGI::escape @article.permalink_url %>&title=<%= CGI::escape @article.title %>&jump=no"><img src="/images/social/delicious_64x64.png"></a>
			</td>
			<td valign="top">
				<a href="http://www.stumbleupon.com/submit?url=<%= CGI::escape @article.permalink_url %>&title=<%= CGI::escape @article.title %>"><img border=0 src="/images/social/Stumbleupon_64x64.png" alt="Stumble It!"></a>
			</td>
			<td valign="top">
				<a href="javascript:var%20b=document.body;var%20GR________bookmarklet_domain='http://www.google.com';if(b&&!document.xmlVersion){void(z=document.createElement('script'));void(z.src='http://www.google.com/reader/ui/link-bookmarklet.js');void(b.appendChild(z));}else{}"><img src="/images/social/greader_64x64.png"></a>
			</td>
		</tr>
	</table>
</div>

<% if @article.allow_pings? -%>
  <h5><a name="trackbacks"><%= _("Trackbacks") %></a></h5>
  <p>
    <%= _("Use the following link to trackback from your own site") %>:<br />
    <%= @article.trackback_url %>
  </p>

  <% unless @article.published_trackbacks.blank? -%>
  <ol id="trackbacks" class="trackbacks">
    <%= render(:partial => "trackback", :collection => @article.published_trackbacks) %>
  </ol>
  <% end -%>
<% end -%>

<% if @article.allow_comments? or @article.published_comments.size > 0 -%>
  <h5><a name="comments"><%= _("Comments") %></a></h5>
  <p><a href="#commentform"><%= _("Leave a comment") %></a></p>

  <div id="comments_div">
    <%= render :partial => "comment_list" %>
  </div>
<% end -%>

<%= render :partial => 'comment_form' if @article.allow_comments? %>
